.popup__save {
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    cursor: pointer;
    padding: 0;
    margin-top: 48px;
    margin-bottom: 37px;
    margin-left: 36px;
    transition: opacity 0.3s ease-in-out;

    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.popup__save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .popup__save  {
        width: 238px;
        height: 46px;
        padding: 0;
        margin-top: 45px;
        margin-bottom: 25px;
        margin-left: 22px;

        font-size: 14px;
        line-height: 17px;
    }
} 

