.popup__create-text {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .popup__create-text  {
        font-size: 14px;
        line-height: 17px;
    }
} 