.popupPlace {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility .3s linear 0s,  opacity .3s linear;

}

.popup__isOpen {
    display: flex;
    visibility: visible;
    opacity: 1;

}
