.popup__container-image {
    max-width: 75vw;
    max-height: 75vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .popup__container-image {
        max-width: 240px;
        max-height: 299px;
    }
    }