.popup__input-line {
    opacity: 0.2;
    border-bottom: 1px solid #000000;
    width: 358px;
    margin-left: 36px;
    margin-right: 36px;
}

@media screen and (max-width: 767px) {
    .popup__input-line {
        width: 238px;
        margin-left: 22px;
        margin-right: 22px;
    }
} 