.popupImage__body {
    max-width: 816px;
    max-height: 562px;
    position: relative;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .popupImage__body {
        width: 240px;
        height: 321px;
    }
    }