.popup__input-error_active {
    display: inline-block;
    height: 12px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    margin: 0 0 0 36px;
    }

    @media screen and (max-width: 767px) {
        .popup__input-error_active {
            margin: 0 0 0 22px;
            }
    } 
    

